@import url(globalStyle.css); 
 
 /* styles the modal */
 .modal{
    padding: 1rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: white;
    border-radius: 0.25rem;
    z-index: 10;
    border: none;
    padding: 1rem;
    box-shadow: 0px 0px 10px grey;
}


input, select{
    border: none;
    font-size: 18px;
    color: var(--v-dark-purple);
    float: left;
    width: 100%;
    margin-top: 0.5rem;
    border: 2px solid var(--dark-purple);
    border-radius: 8px;
    padding: 5px;
}

input:hover{
    border: 2px solid var(--v-dark-purple);
}

input::active{
    border: 2px solid var(--v-dark-purple);
}

select{
    color: var(--v-dark-purple);
    padding: 2px;
}

.text{
    font-size: 22px;
    color:  var(--v-dark-purple);
    text-align: center;
}

.modal-view input{
    border: none;
    padding-left: 0px;
    margin-top: 0px;
}


label{
    font-size: 18px;
    float: left;
    margin-top: 1rem;
}
